:root {
  --font: 'Nunito', sans-serif;
}

/* * {
  outline: 4px solid rgb(206, 58, 58);
} */

body {
  font-family: var(--font);
  /* background-color: #F4F1DE; */
  background-color: #fff;
}

::selection {
  background: #fb9e2b;
}

.container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1570px;
}

/* ======================================== */

.header {
  display: flex;
  flex-direction: column;
}

.header__top {
  display: flex;
  justify-content: center;
  padding: 20px 0 40px;
  z-index: 10;
  width: 100%;
  left: 0;
}

.header__top-inner {
  width: 1570px;
}

.header__geo {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.header__geo a {
  transition: color .2s;
}

.header__geo a:hover {
  color: #FF8C00;
}

.header__logo {
  font-size: 80px;
  font-weight: 500;
  text-align: center;
  color: #FF8C00;
}

.header__inner {
  position: relative;
  display: flex;
  color: #fff;
  padding: 70px 0;
  background: url('../images/pizza-header.jpg') fixed;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.header__inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

.header__inner-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  z-index: 2;
}

.header__inner-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 150px;
  font-size: 70px;
  max-width: 700px;
}

.header__inner-text p {
  font-size: 30px;
}

.header__inner-info {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  line-height: 1.2;
  max-width: 500px;
  gap: 15px;
}

.header__inner-info-col {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__inner-info-col svg {
  min-width: 50px;
  min-height: 50px;
}

/* ======================================== */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0;
}

.main__title {
  text-align: center;
  font-size: 70px;
  margin: 50px 0;
  color: #FF8C00;
}

.pizza__catalog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 45px;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px 35px;
  gap: 10px;
  margin-bottom: 40px;
  max-width: 350px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  transition: scale .2s;
}

.column:hover {
  scale: 1.02;
}

.column__img {
  display: flex;
  padding: 15px;
}

.column__img img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.column__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  flex-grow: 1;
}

.column__info a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.column__info-title {
  font-size: 27px;
  font-weight: 600;
  color: #FF8C00;
}

.column__info-descr {
  color: #000000ca;
  font-size: 16px;
  max-width: 80%;
}

.column__info-price {
  font-size: 24px;
  color: #FF8C00;
}

.column__info-btn {
  background-color: #FF8C00;
  color: #F4F1DE;
  padding: 15px 20px;
  border-radius: 10px;
  width: 70%;
  transition: background-color .4s;
  margin-top: auto;
}

.column__info-btn:hover {
  background-color: #de7a00;
}

.column__info-ml {
  font-size: 12px;
}

.column-close:hover .column__img-item {
  display: none;
}

.column-close:hover .column__img-hide {
  display: block !important;
}

/* ======================================== */

.recommend {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  position: relative;

}

.recommend__container {
  position: relative;
}

.recommend__title {
  text-align: center;
  font-size: 56px;
  margin-bottom: 50px;
  color: #FF8C00;
}

.recommend__column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.recommend__column:last-child {
  margin-bottom: 0;
}

.recommend__column-img {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.recommend__column-img img {
  width: 300px;
  height: 300px;
}

.recommend__column-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.recommend__column--info-title {
  font-size: 27px;
  font-weight: 600;
  color: #FF8C00;
}

.recommend__column--info-descr {
  color: #000000ca;
  font-size: 16px;
}

.recommend__column--info-price {
  font-size: 24px;
}

.recommend__column--info-ml {
  font-size: 12px;
}

.recommend__btns {
  display: flex;
  gap: 8px;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10 !important;
}

.button-prev,
.button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: rgb(255, 255, 255);
}

.button-prev svg,
.button-next svg {
  fill: #FF8C00;
}

/* ======================================== */

.footer {
  padding: 50px 0px;
  background-color: #1f1f1f;
}

.footer__container {
  display: flex;
  justify-content: space-around;
}

.footer__inner {
  max-width: 900px;
  color: #fff;
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}

.footer__address a {
  display: flex;
  align-items: center;
  font-size: 25px;
  gap: 10px;
  transition: color .2s;
}

.footer__address a:hover {
  color: #FF8C00;
}

.footer__address h4 {
  font-size: 32px;
  margin-bottom: 5px;
}

.footer__descr {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
  margin-bottom: 25px;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__social a:hover path {
  fill: #FF8C00;
}

.footer__logo {
  display: flex;
  font-size: 74px;
  width: fit-content;
  user-select: none;
  color: #FF8C00;
}

/* ======================================== */
/* ======================================== */
/* ======================================== */

@media (max-width: 1575px) {

  .header__container,
  .recommend__container {
    width: 100vw;
  }

  .recommend__column {
    font-size: 20px;
  }

  .recommend__column-img img {
    object-fit: cover;
    width: 270px;
    height: 270px;
  }

  .recommend__column--info-title {
    font-size: 22px;
  }

  .recommend__column--info-price {
    font-size: 20px;
  }

}

@media (max-width: 1440px) {
  .header__inner-text {
    margin-right: 0;
  }

  .header__inner-text {
    font-size: 60px;
  }

  .header__inner-info-col svg {
    min-width: 40px;
    min-height: 40px;
  }

  .header__inner-text p {
    max-width: 550px;
    font-size: 25px;
  }

  .recommend__column {
    padding: 10px 10px 25px;
  }
}

@media (max-width: 1190px) {
  .header__inner-container {
    gap: 30px;
  }

  .header__inner-text {
    font-size: 45px;
  }
}

@media (max-width: 1020px) {
  .header__inner {
    height: 72vh;
  }

  .header__inner:before {
    background-color: rgba(0, 0, 0, .7);
  }

  .header__inner-text {
    align-items: center;
    text-align: center;
  }

  .header__inner-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 610px) {
  
}